
.ag-lightning {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ag-lightning:before,
.ag-lightning:after {
    content: "";

    opacity: 0;

    will-change: transform;

    position: absolute;
}
.ag-lightning:before {
    width: 272px;
    background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/sparks/images/lightning-1.png);

    top: -9.75em;
    left: 50%;

    -webkit-animation: an-lightning-first 30s linear 3s infinite;
    -moz-animation: an-lightning-first 30s linear 3s infinite;
    -o-animation: an-lightning-first 30s linear 3s infinite;
    animation: an-lightning-first 30s linear 3s infinite;
}
.ag-lightning:after {
    width: 254px;
    background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/sparks/images/lightning-2.png);

    top: -10.1875em;
    right: -6.1875em;

    -webkit-animation: an-lightning-second 30s linear 3s infinite;
    -moz-animation: an-lightning-second 30s linear 3s infinite;
    -o-animation: an-lightning-second 30s linear 3s infinite;
    animation: an-lightning-second 30s linear 3s infinite;
}

@-webkit-keyframes an-blink {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    1.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    1.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    1.7% {
        background: rgba(255, 255, 255, 0);
    }
    2.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    2.9% {
        background: rgba(255, 255, 255, 0);
    }
    3.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    3.4% {
        background: rgba(255, 255, 255, 0);
    }
    6.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    6.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    7.2% {
        background: rgba(255, 255, 255, 0);
    }
    36.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    36.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    37.2% {
        background: rgba(255, 255, 255, 0);
    }
    53.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    53.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    53.7% {
        background: rgba(255, 255, 255, 0);
    }
    54.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    54.9% {
        background: rgba(255, 255, 255, 0);
    }
    55.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    55.4% {
        background: rgba(255, 255, 255, 0);
    }
    76.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    76.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    77.2% {
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}
@-moz-keyframes an-blink {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    1.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    1.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    1.7% {
        background: rgba(255, 255, 255, 0);
    }
    2.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    2.9% {
        background: rgba(255, 255, 255, 0);
    }
    3.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    3.4% {
        background: rgba(255, 255, 255, 0);
    }
    6.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    6.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    7.2% {
        background: rgba(255, 255, 255, 0);
    }
    36.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    36.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    37.2% {
        background: rgba(255, 255, 255, 0);
    }
    53.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    53.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    53.7% {
        background: rgba(255, 255, 255, 0);
    }
    54.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    54.9% {
        background: rgba(255, 255, 255, 0);
    }
    55.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    55.4% {
        background: rgba(255, 255, 255, 0);
    }
    76.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    76.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    77.2% {
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}
@-o-keyframes an-blink {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    1.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    1.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    1.7% {
        background: rgba(255, 255, 255, 0);
    }
    2.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    2.9% {
        background: rgba(255, 255, 255, 0);
    }
    3.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    3.4% {
        background: rgba(255, 255, 255, 0);
    }
    6.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    6.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    7.2% {
        background: rgba(255, 255, 255, 0);
    }
    36.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    36.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    37.2% {
        background: rgba(255, 255, 255, 0);
    }
    53.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    53.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    53.7% {
        background: rgba(255, 255, 255, 0);
    }
    54.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    54.9% {
        background: rgba(255, 255, 255, 0);
    }
    55.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    55.4% {
        background: rgba(255, 255, 255, 0);
    }
    76.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    76.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    77.2% {
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}
@keyframes an-blink {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    1.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    1.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    1.7% {
        background: rgba(255, 255, 255, 0);
    }
    2.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    2.9% {
        background: rgba(255, 255, 255, 0);
    }
    3.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    3.4% {
        background: rgba(255, 255, 255, 0);
    }
    6.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    6.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    7.2% {
        background: rgba(255, 255, 255, 0);
    }
    36.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    36.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    37.2% {
        background: rgba(255, 255, 255, 0);
    }
    53.5% {
        background: rgba(0, 0, 0, 0.1);
    }
    53.66% {
        background: rgba(255, 255, 255, 0.1);
    }
    53.7% {
        background: rgba(255, 255, 255, 0);
    }
    54.66% {
        background: rgba(0, 0, 0, 0.1);
    }
    54.9% {
        background: rgba(255, 255, 255, 0);
    }
    55.2% {
        background: rgba(255, 255, 255, 0.1);
    }
    55.4% {
        background: rgba(255, 255, 255, 0);
    }
    76.7% {
        background: rgba(0, 0, 0, 0.1);
    }
    76.8% {
        background: rgba(255, 255, 255, 0.1);
    }
    77.2% {
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}



@-webkit-keyframes an-slow-shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(1.25em);
        transform: translateX(1.25em);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(-1.25em);
        transform: translateX(-1.25em);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes an-slow-shake {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(1.25em);
        -moz-transform: translateX(1.25em);
        transform: translateX(1.25em);
    }
    50% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(-1.25em);
        -moz-transform: translateX(-1.25em);
        transform: translateX(-1.25em);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes an-slow-shake {
    0% {
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(1.25em);
        -o-transform: translateX(1.25em);
        transform: translateX(1.25em);
    }
    50% {
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(-1.25em);
        -o-transform: translateX(-1.25em);
        transform: translateX(-1.25em);
    }
    100% {
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes an-slow-shake {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(1.25em);
        -moz-transform: translateX(1.25em);
        -o-transform: translateX(1.25em);
        transform: translateX(1.25em);
    }
    50% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(-1.25em);
        -moz-transform: translateX(-1.25em);
        -o-transform: translateX(-1.25em);
        transform: translateX(-1.25em);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes an-slow-shake-revert {
    0% {
        -webkit-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    25% {
        -webkit-transform: scale(-1, 1) translateX(1.25em);
        transform: scale(-1, 1) translateX(1.25em);
    }
    50% {
        -webkit-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    75% {
        -webkit-transform: scale(-1, 1) translateX(-1.25em);
        transform: scale(-1, 1) translateX(-1.25em);
    }
    100% {
        -webkit-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
}
@-moz-keyframes an-slow-shake-revert {
    0% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    25% {
        -webkit-transform: scale(-1, 1) translateX(1.25em);
        -moz-transform: scale(-1, 1) translateX(1.25em);
        transform: scale(-1, 1) translateX(1.25em);
    }
    50% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    75% {
        -webkit-transform: scale(-1, 1) translateX(-1.25em);
        -moz-transform: scale(-1, 1) translateX(-1.25em);
        transform: scale(-1, 1) translateX(-1.25em);
    }
    100% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
}
@-o-keyframes an-slow-shake-revert {
    0% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    25% {
        -webkit-transform: scale(-1, 1) translateX(1.25em);
        -o-transform: scale(-1, 1) translateX(1.25em);
        transform: scale(-1, 1) translateX(1.25em);
    }
    50% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    75% {
        -webkit-transform: scale(-1, 1) translateX(-1.25em);
        -o-transform: scale(-1, 1) translateX(-1.25em);
        transform: scale(-1, 1) translateX(-1.25em);
    }
    100% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
}
@keyframes an-slow-shake-revert {
    0% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    25% {
        -webkit-transform: scale(-1, 1) translateX(1.25em);
        -moz-transform: scale(-1, 1) translateX(1.25em);
        -o-transform: scale(-1, 1) translateX(1.25em);
        transform: scale(-1, 1) translateX(1.25em);
    }
    50% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
    75% {
        -webkit-transform: scale(-1, 1) translateX(-1.25em);
        -moz-transform: scale(-1, 1) translateX(-1.25em);
        -o-transform: scale(-1, 1) translateX(-1.25em);
        transform: scale(-1, 1) translateX(-1.25em);
    }
    100% {
        -webkit-transform: scale(-1, 1) translateX(0);
        -moz-transform: scale(-1, 1) translateX(0);
        -o-transform: scale(-1, 1) translateX(0);
        transform: scale(-1, 1) translateX(0);
    }
}

@-webkit-keyframes an-lightning-first {
    0%, 6.75% {
        height: 0;

        opacity: 0;
    }
    6.8% {
        height: 22.375em;

        opacity: 1;
    }
    7.6% {
        opacity: 0;
    }
    7.7% {
        height: 22.375em;
    }
    7.8%, 49.9% {
        height: 0;
    }
    50% {
        height: 22.375em;

        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes an-lightning-first {
    0%, 6.75% {
        height: 0;

        opacity: 0;
    }
    6.8% {
        height: 22.375em;

        opacity: 1;
    }
    7.6% {
        opacity: 0;
    }
    7.7% {
        height: 22.375em;
    }
    7.8%, 49.9% {
        height: 0;
    }
    50% {
        height: 22.375em;

        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes an-lightning-first {
    0%, 6.75% {
        height: 0;

        opacity: 0;
    }
    6.8% {
        height: 22.375em;

        opacity: 1;
    }
    7.6% {
        opacity: 0;
    }
    7.7% {
        height: 22.375em;
    }
    7.8%, 49.9% {
        height: 0;
    }
    50% {
        height: 22.375em;

        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes an-lightning-first {
    0%, 6.75% {
        height: 0;

        opacity: 0;
    }
    6.8% {
        height: 22.375em;

        opacity: 1;
    }
    7.6% {
        opacity: 0;
    }
    7.7% {
        height: 22.375em;
    }
    7.8%, 49.9% {
        height: 0;
    }
    50% {
        height: 22.375em;

        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes an-lightning-second {
    0% {
        height: 0;

        opacity: 0;
    }
    1.66% {
        height: 23.9375em;

        opacity: 1;
    }
    1.7% {
        opacity: 0;
    }
    2.66% {
        opacity: 0;
    }
    3.2% {
        opacity: 1;
    }
    3.4% {
        opacity: 0;
    }
    7.8%, 76.9% {
        height: 0;
    }
    77% {
        height: 23.9375em;

        opacity: 1;
    }
    78%, 100% {
        opacity: 0;
    }
}
@-moz-keyframes an-lightning-second {
    0% {
        height: 0;

        opacity: 0;
    }
    1.66% {
        height: 23.9375em;

        opacity: 1;
    }
    1.7% {
        opacity: 0;
    }
    2.66% {
        opacity: 0;
    }
    3.2% {
        opacity: 1;
    }
    3.4% {
        opacity: 0;
    }
    7.8%, 76.9% {
        height: 0;
    }
    77% {
        height: 23.9375em;

        opacity: 1;
    }
    78%, 100% {
        opacity: 0;
    }
}
@-o-keyframes an-lightning-second {
    0% {
        height: 0;

        opacity: 0;
    }
    1.66% {
        height: 23.9375em;

        opacity: 1;
    }
    1.7% {
        opacity: 0;
    }
    2.66% {
        opacity: 0;
    }
    3.2% {
        opacity: 1;
    }
    3.4% {
        opacity: 0;
    }
    7.8%, 76.9% {
        height: 0;
    }
    77% {
        height: 23.9375em;

        opacity: 1;
    }
    78%, 100% {
        opacity: 0;
    }
}
@keyframes an-lightning-second {
    0% {
        height: 0;

        opacity: 0;
    }
    1.66% {
        height: 23.9375em;

        opacity: 1;
    }
    1.7% {
        opacity: 0;
    }
    2.66% {
        opacity: 0;
    }
    3.2% {
        opacity: 1;
    }
    3.4% {
        opacity: 0;
    }
    7.8%, 76.9% {
        height: 0;
    }
    77% {
        height: 23.9375em;

        opacity: 1;
    }
    78%, 100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }

}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }

}

/*==============================================================================*/
.rain__drop {
    animation-delay: calc(var(--d) * 2s);
    animation-duration: calc(var(--a) * 0.75s);
    animation-iteration-count: infinite;
    animation-name: drop;
    animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 10) * -1px);
}
.rain__drop path {
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
}


@keyframes drop {
    80% {
        opacity: 0.05;
    }
    90% {
        opacity: 0;
        transform: translateY(70em);
    }
}

/*---------------------------=======================================-----------------------*/

.s-list {
    color: #f2f2f2;
    text-decoration: none !important;
}


#aboutUs {
    background-image: url("../wetransfer_banners_2022-09-12_1034/Banners/services-banner-5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.AboutUs-topic {

    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    /*line-height: 2em;*/
    letter-spacing: -0.075em;
    text-shadow: 2px 2px 0px #9a9a9b;
}

.section-team {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    /*mobile view*/
    grid-column-gap: 1rem;
    padding: 1rem;
}

.team-img {
    /*position: center;*/
    height: 25em;
    /*padding: 2em;*/
}

.mem-name {
    font-style: normal;
    font-weight: 700;
    font-size: 3em;

    letter-spacing: -0.075em;

}

.mem-role {
    font-style: normal;
    font-weight: 700;
    font-size: 2em;

    letter-spacing: -0.075em;

}

.sub-section-team {
    /*padding: 2rem;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    align-items: start;
    justify-items: center;
    text-align: justify !important;
}

.sub-section-services {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.member:hover{
    transform: scale(1.15);
    transition-duration: 1s;
}
.glass{
    background: rgba(21, 20, 20, 0.27);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    border-radius: 3px;
   padding-top: 5em;
    padding-bottom: 5em;
}